In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("tested.csv.csv")

In [7]:
print("Shape:", df.shape)

Shape: (418, 12)

In [9]:
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [11]:
df_multi = df.set_index(["Pclass", "Sex", "Embarked"])

In [13]:
print(df_multi.head())

                        PassengerId  Survived  \
Pclass Sex    Embarked
3      male   Q                 892         0
       female S                 893         1
2      male   Q                 894         0
3      male   S                 895         0
       female S                 896         1

                                                                Name   Age  \
Pclass Sex    Embarked
3      male   Q                                     Kelly, Mr. James  34.5
       female S                     Wilkes, Mrs. James (Ellen Needs)  47.0
2      male   Q                            Myles, Mr. Thomas Francis  62.0
3      male   S                                     Wirz, Mr. Albert  27.0
       female S         Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0

                        SibSp  Parch   Ticket     Fare Cabin
Pclass Sex    Embarked
3      male   Q             0      0   330911   7.8292   NaN
       female S             1      0   363272   7.0000   NaN
2      male   Q             0      0   240276   9.6875   NaN
3      male   S             0      0   315154   8.6625   NaN
       female S             1      1  3101298  12.2875   NaN

In [15]:
print(df_multi.loc[1])

                 PassengerId  Survived  \
Sex    Embarked
male   S                 903         0
female S                 904         1
       S                 906         1
male   C                 912         0
female S                 914         1
...                      ...       ...
male   S                1295         0
       C                1296         0
       C                1299         0
female Q                1303         1
       C                1306         1

                                                              Name   Age  \
Sex    Embarked
male   S                                Jones, Mr. Charles Cresson  46.0
female S             Snyder, Mrs. John Pillsbury (Nelle Stevenson)  23.0
       S         Chaffee, Mrs. Herbert Fuller (Carrie Constance...  47.0
male   C                                    Rothschild, Mr. Martin  55.0
female S                      Flegenheim, Mrs. Alfred (Antoinette)   NaN
...                                                            ...   ...
male   S                                    Carrau, Mr. Jose Pedro  17.0
       C                              Frauenthal, Mr. Isaac Gerald  43.0
       C                                Widener, Mr. George Dunton  50.0
female Q           Minahan, Mrs. William Edward (Lillian E Thorpe)  37.0
       C                              Oliva y Ocana, Dona. Fermina  39.0

                 SibSp  Parch       Ticket      Fare Cabin
Sex    Embarked
male   S             0      0          694   26.0000   NaN
female S             1      0        21228   82.2667   B45
       S             1      0  W.E.P. 5734   61.1750   E31
male   C             1      0     PC 17603   59.4000   NaN
female S             0      0     PC 17598   31.6833   NaN
...                ...    ...          ...       ...   ...
male   S             0      0       113059   47.1000   NaN
       C             1      0        17765   27.7208   D40
       C             1      1       113503  211.5000   C80
female Q             1      0        19928   90.0000   C78
       C             0      0     PC 17758  108.9000  C105

[107 rows x 9 columns]

In [17]:
print(df_multi.xs("female", level="Sex").head())

                 PassengerId  Survived  \
Pclass Embarked
3      S                 893         1
       S                 896         1
       Q                 898         1
       C                 900         1
1      S                 904         1

                                                          Name   Age  SibSp  \
Pclass Embarked
3      S                      Wilkes, Mrs. James (Ellen Needs)  47.0      1
       S          Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1
       Q                                  Connolly, Miss. Kate  30.0      0
       C             Abrahim, Mrs. Joseph (Sophie Halaut Easu)  18.0      0
1      S         Snyder, Mrs. John Pillsbury (Nelle Stevenson)  23.0      1

                 Parch   Ticket     Fare Cabin
Pclass Embarked
3      S             0   363272   7.0000   NaN
       S             1  3101298  12.2875   NaN
       Q             0   330972   7.6292   NaN
       C             0     2657   7.2292   NaN
1      S             0    21228  82.2667   B45

In [19]:
print(df_multi.loc[(3, "female", "S")].head())

                        PassengerId  Survived  \
Pclass Sex    Embarked
3      female S                 893         1
              S                 896         1
              S                 910         1
              S                 924         1
              S                 925         1

                                                                     Name  \
Pclass Sex    Embarked
3      female S                          Wilkes, Mrs. James (Ellen Needs)
              S              Hirvonen, Mrs. Alexander (Helga E Lindqvist)
              S                              Ilmakangas, Miss. Ida Livija
              S                  Dean, Mrs. Bertram (Eva Georgetta Light)
              S         Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"

                         Age  SibSp  Parch            Ticket     Fare Cabin
Pclass Sex    Embarked
3      female S         47.0      1      0            363272   7.0000   NaN
              S         22.0      1      1           3101298  12.2875   NaN
              S         27.0      1      0  STON/O2. 3101270   7.9250   NaN
              S         33.0      1      2         C.A. 2315  20.5750   NaN
              S          NaN      1      2        W./C. 6607  23.4500   NaN

C:\Users\HP\AppData\Local\Temp\ipykernel_3036\3727879306.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(df_multi.loc[(3, "female", "S")].head())

In [21]:
df_swapped = df_multi.swaplevel("Pclass", "Sex")
print(df_swapped.head())

                        PassengerId  Survived  \
Sex    Pclass Embarked
male   3      Q                 892         0
female 3      S                 893         1
male   2      Q                 894         0
       3      S                 895         0
female 3      S                 896         1

                                                                Name   Age  \
Sex    Pclass Embarked
male   3      Q                                     Kelly, Mr. James  34.5
female 3      S                     Wilkes, Mrs. James (Ellen Needs)  47.0
male   2      Q                            Myles, Mr. Thomas Francis  62.0
       3      S                                     Wirz, Mr. Albert  27.0
female 3      S         Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0

                        SibSp  Parch   Ticket     Fare Cabin
Sex    Pclass Embarked
male   3      Q             0      0   330911   7.8292   NaN
female 3      S             1      0   363272   7.0000   NaN
male   2      Q             0      0   240276   9.6875   NaN
       3      S             0      0   315154   8.6625   NaN
female 3      S             1      1  3101298  12.2875   NaN

In [23]:
df_sorted = df_multi.sort_index()
print(df_sorted.head())

                        PassengerId  Survived  \
Pclass Sex    Embarked
1      female C                 916         1
              C                 918         1
              C                 940         1
              C                 951         1
              C                 966         1

                                                                   Name   Age  \
Pclass Sex    Embarked
1      female C         Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  48.0
              C                            Ostby, Miss. Helene Ragnhild  22.0
              C         Bucknell, Mrs. William Robert (Emma Eliza Ward)  60.0
              C                             Chaudanson, Miss. Victorine  36.0
              C                                    Geiger, Miss. Amalie  35.0

                        SibSp  Parch    Ticket      Fare            Cabin
Pclass Sex    Embarked
1      female C             1      3  PC 17608  262.3750  B57 B59 B63 B66
              C             0      1    113509   61.9792              B36
              C             0      0     11813   76.2917              D15
              C             0      0  PC 17608  262.3750              B61
              C             0      0    113503  211.5000             C130

In [25]:
df_reset = df_multi.reset_index()
print(df_reset.head())

   Pclass     Sex Embarked  PassengerId  Survived  \
0       3    male        Q          892         0
1       3  female        S          893         1
2       2    male        Q          894         0
3       3    male        S          895         0
4       3  female        S          896         1

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin
0   7.8292   NaN
1   7.0000   NaN
2   9.6875   NaN
3   8.6625   NaN
4  12.2875   NaN

In [27]:
print(df.groupby(["Pclass", "Sex"])["Age"].mean())

Pclass  Sex
1       female    41.333333
        male      40.520000
2       female    24.376552
        male      30.940678
3       female    23.073400
        male      24.525104
Name: Age, dtype: float64

In [29]:
print(df.groupby(["Pclass", "Sex", "Embarked"])["Survived"].mean())

Pclass  Sex     Embarked
1       female  C           1.0
                Q           1.0
                S           1.0
        male    C           0.0
                S           0.0
2       female  C           1.0
                S           1.0
        male    C           0.0
                Q           0.0
                S           0.0
3       female  C           1.0
                Q           1.0
                S           1.0
        male    C           0.0
                Q           0.0
                S           0.0
Name: Survived, dtype: float64